* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.grid-container {
    display: flex;
    display: grid;
    width: 100vw;
    /* height: 100vh;   */
    height: 100%;
}


/*------------------------Home Header --------------*/

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:#51c4a1;
    color: white;
}

#name {
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 40px;
    padding-right: 50px; 
}

contain-1>li{
    cursor: none;
}


 /*-----------------------Buttons-------------------*/


.button {
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


   /*-----------------------Home-Buttons-Nav--------------------*/


.tabs-container{
    width: 100%;
}

.tabs{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

.button-thoughts{ 
    grid-column: 2/2;
    grid-row: 1/1;
    align-self: center;
    justify-self: center;
    margin-top: 2rem;
}

#mind-set {
    grid-column: 2/2;
    grid-row: 2/2;
    width: 150px;
    height: auto;
    align-self: center;
    justify-self: center;
} 

.button-tutorial{
    grid-column: 2/2;
    grid-row: 3/3;
    align-self: center;
    justify-self: center;
    margin-top: .5rem;
    margin-bottom: 2rem;
    padding: 15px 60px;
}  

   /*-----------------------Footer--------------------*/



footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, auto);
    background-color:#51c4a1;
    color: white;
    /* position: fixed;
    bottom: 0; */
    /* margin-bottom: 1rem; */
    padding-bottom: 0px;
}

#goal {
    align-self: center;
    justify-self: center;
    /* padding: 20px; */
    font-size: 30px; 
    /* padding-bottom: 50px; */

}


   /*-----------------------Header-Nav-Bar--------------------*/
.nav-bar{
    height: 20px;

}
.inner-nav-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    background-color: #51c4a1;
    list-style: none; 
}

.inner-nav-bar li{
    align-self: center;
    justify-self: center;
}

.inner-nav-bar a{
    color: white;
    text-decoration: none;
}

.home{
    grid-column: 1/2;
}

.tutorial{
    grid-column: 2/2;
}

/*---------------------all working section------------------------*/

.main-section{
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

   /*-----------------------Thoughts/Responses Upper Text--------------------*/
/* .thoughts-main{
    display: flex;
    justify-content: center;
} */

h2 {
    font-size: 1rem;
    margin: 20px;
    /* justify-content: center; */
}

/*Text over textbox*/
h3 {
    /* display: inline-flex; */
    /* flex-direction: column; */
    flex-wrap: nowrap;
    min-height: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .3rem;
    /* justify-content: center; */
}



 /*-----------------------Thoughts/Responses Text Areas-------------------*/

.listForm{
    margin: 5%;
}

.thoughts-inner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#thoughtFormTxt, #responseFormTxt{
    display: block;
    width: 100%;
    height: auto;
}

/* .thoughts-inner li{
   
    list-style: none;
    
} */

/* .listed{
    padding: 20px;  
} */



/* .content{
    width: 100vw;
    height: auto;
    background-color:rgb(91, 193, 211);
    padding-bottom:8px;

} */
/* 
label{
    display: block;
    font-size:16px;
} */



/* order: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
 */

/*Select thought Area */
#thoughtSection li{
    margin: 5px;
    list-style: none;
}

#thoughtSection li span {
    font-size: 1.2rem;
}

/*-----------------------Thoughts/Responses Buttons-------------------*/


    
/* 
#save-button, #add-more{
    width: 80px;
    height: 20px;
    padding: 5px 5px 22px 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    margin:15px 5px 5px 22px;
}

#save-button:hover, #add-more:hover{
    background-color: #0e6270
}
  
#save-button:active, #add-more:active{
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

/* 
.button {
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */


/* input, #listAddButton, #responseAddButton{
    padding: 7px;
    height: 40px;
} */
  
/* fieldset { 
    margin-bottom: 20px;
} */
  



/*--------------MEDIA QUERIES ----------------*/



@media screen and (min-width: 760px){
/*-----------------------Buttons - MEDIA QUERIES------------------*/


.button {
    width: auto;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    align-self: center;
    justify-self: center;
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 


   /*-----------------------Home-Buttons-Nav-MEDIA QUERIES-------------------*/




  .tabs-container{
      width: 100%;
  }

  .tabs{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
  }

  .button-thoughts{ 
    grid-column: 2/2;
    grid-row: 1/1;
    align-self: center;
    justify-self: center;
    /* margin-top: 60px; */
  }

  #mind-set {
    grid-column: 2/2;
    grid-row: 2/2;
    width: 300px;
    height: auto;
    align-self: center;
    justify-self: center;
  } 

  .button-tutorial{
    grid-column: 2/2;
    grid-row: 3/3;
    align-self: center;
    justify-self: center;
    padding: 15px 90px;
  }

 
/*   
  .button-response{
      grid-column: 5/6;
      grid-row: 3/4;
  }

  .button-reminders{
      grid-column: 5/6;
      grid-row:3/4;
  }

  .button-data{
      grid-column: 3/4;
      grid-row: 5/6;
      margin-bottom: 40px;
  } 

  .button-logout{
      grid-column: 5/6;
      grid-row: 5/6;
      margin-bottom: 40px;
      
  } */


}
/*-------------END OF 760 MEDIA QUERIES ----------------*/


/*-------------------Thoughts/Response Forms--------------*/

/*-------------------Add Thoughts/Response Forms Buttons--------------*/
#responseAddButton{
  width: 10rem;
  height: 1.5rem;
  bottom: 8px;
  border-radius: 5px;
  border-width: 1px;
  font-size: 80%;
  padding: 0px;
  margin-top: 1rem;
}

/*-------------------Modal Button - Clear Field--------------*/

#removeTxtInModal{
    width: 4.5rem;
    height: 1.5rem;
    bottom: 8px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 80%;
    padding: 0px;
    margin-top: 1rem;
  }

/* #responseAddButton {
    font-size: 150%;
}
   */
/* #taskForm #taskAddButton {
    font-size: 150%;
} */
  
/* #editList:active, .editList:active, #responseAddButton:active, #taskAddButton:active, #removeList:active, .removeList:active {
    box-shadow: inset 0px 0px 20px #c1c1c1;
    color: blue;
}   */


/*-------------------Select Thoughts Area in Active List--------------*/
.activeList {
    margin: 5%;
    /* display: flex; */
    /* justify-content: center;
    flex-direction: column; */
}

/* #selectThought{
    padding: 7px;
    height: 40px;
} */

#selectThought {
    width: 6rem;
    height: 1.5rem;
    bottom: 8px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 80%;
    padding: 0px;
    margin: 1rem .5rem .5rem;
}

#deleteBtn {
    padding: .1rem .2rem .1rem .2rem;
    border-radius: 5px;
    border-width: 1.4px;
    font-size: .9rem;
}

/*-----------------Modal Area--------------------*/
#myModal {
   margin: 5%;
}

/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  #modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    border: solid #888;
    width: 100%;
    display: none;
    animation: popOut 2.5s ease forwards;
  }
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  #openHeadSkull {
    height: 300px;
    width: 300px;
    /* position: relative; */
    bottom: 0px;
    margin-left: 8px;
    /* margin-left: 3rem; */
    display: flex;
    justify-content: center;
    align-self: center;
  }

  #openHeadCap {
    height: 171px;
    width: 171px;
    position: relative;
    /* left: 60px; */
    top: 199px;
    z-index: 1;
    transform-origin:  6px 114px;
    animation: swing 2.5s linear alternate;
    /* animation-direction:alternate; */
    /* margin-left: 3rem; */
    display: flex;
    justify-content: center;
    align-self: center;
  }

  /*// Pop Up Animation Styles //*/

  @keyframes swing{
    0%{transform: rotateZ(0deg)}
    20%{transform: rotateZ(-40deg)}
    60%{transform: rotateZ(-75deg)}
    80%{transform: rotateZ(-120deg)}
  }

  @keyframes popOut{
    0%{transform:translateY(400px) scale(0)}
    15%{transform:translateY(300px) scale(0.2)}
    30%{transform:translateY(200px) scale(0.4)}
    45%{transform:translateY(150px) scale(0.6)}
    60%{transform:translateY(100px) scale(0.8)}
    1000%{transform:translateY(0px) scale(1)}
   
  }