* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
}


/*------------------------Home Header --------------*/

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:#51c4a1;
    color: white;
}

#name {
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 40px;
    padding-right: 50px;
  
}


.button{
    cursor:pointer;
}

contain-1>li{
    cursor: none;
}


 /*-----------------------Buttons-------------------*/


.button {
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    /* text-align: center; */
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /* align-self: center;
    justify-self: center; */
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


   /*-----------------------Home-Buttons-Nav--------------------*/





  .tabs-container{
      width: 100%;
  }

  .tabs{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, auto);
      /* align-self: center;
      justify-self: center; */
  }

  .button-tutorial{
    grid-column: 4/5;
    grid-row: 2/3;
  }
 
  .button-thoughts{ 
    grid-column: 4/5;
    grid-row: 3/4;
  }

  .button-reminders{
      grid-column: 4/5;
      grid-row:4/5;
  }

  .button-data{
      grid-column: 4/5;
      grid-row: 5/6;
  } 

  .button-logout{
      grid-column: 4/5;
      grid-row: 6/7;
  }

  #mind-set {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 150px;
      height: auto;
      align-self: center;
      justify-self: center;
  }

   /*-----------------------Footer--------------------*/



footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, 50px);
    background-color:#51c4a1;
    color: white;


}

#goal {
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 30px;
   
}


   /*-----------------------Header-Nav-Bar--------------------*/

.inner-nav-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    background-color: #51c4a1;
    list-style: none; 
}

.inner-nav-bar li{
    align-self: center;
    justify-self: center;
}

.inner-nav-bar a{
    color: white;
    text-decoration: none;
}

.home{
    grid-column: 1/2;
    
    
}

.reminders{
    grid-column: 2/3;
    
}

.tutorial{
    grid-column: 3/4;
    
}

.data{
    grid-column: 4/5;
    
}

.logout{
    grid-column: 5/6;
    
}

   /*-----------------------Thoughts/Responses Upper Text--------------------*/

h2 {
    font-size: 16px;
    margin: 20px;
}


 /*-----------------------Thoughts/Responses Text Areas-------------------*/


.thoughts-inner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
}

.thoughts-inner li{
   
    list-style: none;
    
}

.listed{
    padding: 20px;  
}



.content{
    width: 100vw;
    height: auto;
    background-color:rgb(91, 193, 211);
    padding-bottom:8px;

}

label{
    display: block;
    font-size:16px;
}

textarea{
    display: block;
    width: 100%;
    height: auto;
}






    

#save-button, #add-more{
    width: 80px;
    height: 20px;
    padding: 5px 5px 22px 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    margin:15px 5px 5px 22px;
}

#save-button:hover, #add-more:hover{
    background-color: #0e6270
}
  
#save-button:active, #add-more:active{
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* 
.button {
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */



/*--------------MEDIA QUERIES ----------------*/



@media screen and (min-width: 760px){
/*-----------------------Buttons - Query------------------*/


.button {
    width: auto;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    align-self: center;
    justify-self: center;
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} 


   /*-----------------------Home-Buttons-Nav-Query-------------------*/




  .tabs-container{
      width: 100%;
  }

  .tabs{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, auto);
  }

  .button-tutorial{
    grid-column: 3/4;
    grid-row: 3/4;
  }
 
  .button-thoughts{ 
    grid-column: 4/5;
    grid-row: 2/3;
    margin-top: 60px;
  }

 
  
  .button-response{
      grid-column: 5/6;
      grid-row: 3/4;
  }

  .button-reminders{
      grid-column: 5/6;
      grid-row:3/4;
  }

  .button-data{
      grid-column: 3/4;
      grid-row: 5/6;
      margin-bottom: 40px;
  } 

  .button-logout{
      grid-column: 5/6;
      grid-row: 5/6;
      margin-bottom: 40px;
      
  }

  #mind-set {
      grid-column: 4/5;
      grid-row: 4/5;
      width: 150px;
      height: auto;
      align-self: center;
      justify-self: center;
  } 

}