* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 50vh;
}




/* 
body{
    background: #51c4a1;
    font-family: ubuntu;
} */


/*------------------------Home Header --------------*/

header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:#51c4a1;
    color: white;
}

#name {
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 40px;
    padding-right: 50px;
  
}


.button{
    cursor:pointer;
}

contain-1>li{
    cursor: none;
}


 /*-----------------------Buttons-------------------*/


.button {
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    /* text-align: center; */
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    /* align-self: center;
    justify-self: center; */
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


   /*-----------------------Home-Buttons-Nav--------------------*/





  .tabs-container{
      width: 100%;
  }

  .tabs{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(7, auto);
      /* align-self: center;
      justify-self: center; */
  }

  .button-tutorial{
    grid-column: 4/5;
    grid-row: 2/3;
  }
 
  .button-thoughts{ 
    grid-column: 4/5;
    grid-row: 3/4;
  }

  .button-reminders{
      grid-column: 4/5;
      grid-row:4/5;
  }

  .button-data{
      grid-column: 4/5;
      grid-row: 5/6;
  } 

  .button-logout{
      grid-column: 4/5;
      grid-row: 6/7;
  }

  #mind-set {
      grid-column: 4/5;
      grid-row: 1/2;
      width: 150px;
      height: auto;
      align-self: center;
      justify-self: center;
  }

   /*-----------------------Footer--------------------*/



footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(10px, auto);
    background-color:#51c4a1;
    color: white;


}

#goal {
    align-self: center;
    justify-self: center;
    padding: 20px;
    font-size: 30px;
    /* color: white; */
   
}


   /*-----------------------Header-Nav-Bar--------------------*/

.nav-bar{
    height: 50px;
}

.inner-nav-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    background-color: #51c4a1;
    list-style: none; 
}

.inner-nav-bar li{
    align-self: center;
    justify-self: center;
}

.inner-nav-bar a{
    color: white;
    text-decoration: none;
}

.home{
    grid-column: 1/2;
    
    
}

.reminders{
    grid-column: 2/3;
    
}

.tutorial{
    grid-column: 3/4;
    
}

.data{
    grid-column: 4/5;
    
}

.logout{
    grid-column: 5/6;
    
}

   /*-----------------------Thoughts/Responses Upper Text--------------------*/

.thoughts-main { 
    align-self: center;
    justify-self: center;

}




h2 {
    font-size: 16px;
    


}


 /*-----------------------Thoughts/Responses Text Areas-------------------*/


.thoughts-inner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
}

.thoughts-inner li{
   
    list-style: none;
    
}

.listed{
    padding: 20px;  
}



.content{
    width: 100vw;
    height: auto;
    background-color:rgb(91, 193, 211);
    padding-bottom:8px;

}

label{
    display: block;
    font-size:16px;
}

textarea{
    display: block;
    width: 100%;
    height: auto;
}

/* order: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: #999;
 */





    

#save-button, #add-more{
    width: 80px;
    height: 20px;
    padding: 5px 5px 22px 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    margin:15px 5px 5px 22px;
}

#save-button:hover, #add-more:hover{
    background-color: #0e6270
}
  
#save-button:active, #add-more:active{
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* 
.button {
    width: 100%;
    height: 50px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   
}
  
.button:hover {
    background-color: #0e6270
}
  
.button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */


input, button{
    padding: 7px;
    height: 40px;
}
  
fieldset { 
    margin-bottom: 20px;
}
  



/*-----------------------Test Thoughts--------------------*/


/* h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
} */

.content{
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 25px .5px rgba(0,0,0,0.1)
}




ul{
    list-style-type: none;
    padding: 0;
}

#thoughts-list li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    /* height: 46px; */
    list-style: none;
}

#thoughts-list li:nth-child(even){
    padding: 20px;
    background: #f2f2f2;
}

#thoughts-list li span{
    display: block;
}

#thoughts-list li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

#thoughts-list li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form input{
    /* float: left; */
    width: 100%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 50px 5px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}


#add-thoughts-form button {
    width: 30%;
    height: 50px;
    padding: 15px 5px 20px;
    font-size: 14px;
    /* text-align: center; */
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(69, 191, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 60px;
    /* align-self: center;
    justify-self: center; */
}
  
#add-thoughts-form button:hover {
    background-color: #0e6270
}
  
#add-thoughts-form button:active {
    background-color: #1b6379;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
